@import "tailwindcss";

:root {
  --background: #f4f7fe;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar globally but keep scrolling working */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Sidebar scroll working + hidden scrollbar */
.sidebar-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}
/* GLOBAL DARK MODE FIX */
.dark body {
  background: #111827;
  color: #ffffff;
}

.dark main {
  background: #111827 !important;
  color: #ffffff !important;
}

.dark .bg-white {
  background-color: #1f2937 !important;
  color: #ffffff !important;
}

.dark .text-gray-800,
.dark .text-gray-700,
.dark .text-gray-600 {
  color: #ffffff !important;
}

.dark .text-gray-500 {
  color: #d1d5db !important;
}

.dark .bg-gray-50,
.dark .bg-gray-100,
.dark .bg-\[\#F4F7FE\],
.dark .bg-\[\#F5F7FB\] {
  background-color: #374151 !important;
}

.dark .border-gray-100,
.dark .border-gray-200 {
  border-color: #4b5563 !important;
}

.dark input,
.dark select,
.dark textarea {
  background-color: #111827 !important;
  color: white !important;
  border-color: #4b5563 !important;
}
